@model HRMSApplication.Models.DashBoard
@{
    ViewBag.RolePages = TempData["RolePages"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empId = ViewBag.empid;
    var count = TempData["count"].ToString();
    var Empcount = TempData["Empcount"].ToString();
    var cempid = ViewBag.CEmpid;
}
<style>
    .modal-backdrop {
        position: relative;
    }

    .modal-header {
        padding: 5px 15px 5px 15px !important;
    }

    .modal-title {
        text-transform: capitalize !important;
    }

    .modal-content1 {
        margin: auto;
        padding: 0px;
        border: 1px solid rgb(136, 136, 136);
        width: 40%;
        z-index: 99999999999;
        left: 25%;
        background: rgb(219, 238, 247);
    }

    a.my-class {
        color: black;
    }
</style>
<div class="container">

    <div class="page_st">
        <div class="page">
            <div class="col-md-12 col-sm-12">
                <div class="main_heading">
                    <h1>Dashboard</h1>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="main_heading">
                            <h1>News</h1>
                            <div class="dashboard_new">
                                <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                                    <div class="well">
                                        <div class="media">
                                            @{
                                                var r = 0;
                                                var m = 1;
                                                var n = 2;
                                            }
                                            <div class="media-body">
                                                <h4 class="media-heading">News</h4>

                                                @for (var j = 0; j < Model.News.Count; j++)
                                                {
                                                    <div class="media">

                                                        <a class="pull-left" href="#">
                                                            <img class="media-object" src="~/Images/news.jpg">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <h3>@Model.News[j][r]</h3><p>@Model.News[j][m]</p>
                                                                <p>@Model.News[j][n]</p>
                                                            </h4>

                                                        </div>
                                                    </div>
                                                    if (Model.News.Count == 1)
                                                    {
                                                        <div class="media" style="height:210px;visibility:hidden;">

                                                            <a class="pull-left" href="#">

                                                            </a>
                                                            <div class="media-body">
                                                                <h4 class="media-heading"><h3></h3><p></p></h4>
                                                            </div>
                                                        </div>

                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>


                                </marquee>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="main_heading">
                            <h1>Retirement</h1>
                            <div class="dashboard_new">
                                <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                                    <div class="well">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading"><h3>Happy Retirement</h3><p>Retirements of this month</p></h4>

                                                @for (var l = 0; l < Model.Retirements.Count; l++)
                                                {
                                                    <div class="media">

                                                        <a class="pull-left" href="#">
                                                            <img class="media-object" src="~/uploads/@Model.Retirements[l][r]" />
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><h3>@Model.Retirements[l][m]</h3><p>@Model.Retirements[l][n]</p></h4>
                                                        </div>
                                                    </div>
                                                    if (Model.Retirements.Count == 1)
                                                    {
                                                        <div class="media" style="height:210px;visibility:hidden;">

                                                            <a class="pull-left" href="#">

                                                            </a>
                                                            <div class="media-body">
                                                                <h4 class="media-heading"><h3></h3><p></p></h4>
                                                            </div>
                                                        </div>

                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </marquee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (empId == @ViewBag.empid)
{
    <div id="homepopup" class="modal fade" role="dialog">
        <div class="modal-dialog_home">
            <!-- Modal content-->
            <div class="modal-content1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Memos</h4>
                </div>
                <div class="modal-body">
                    <p id="memoContent" style="color:black"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var count = @count;
            var empCount = @Empcount;

            var memoContent = "";

            if (count != 0 && empCount == 0) {
                memoContent = 'You have ' + count + ' pending memos, <span><a style="font-weight:bold;color:red;" href="@Url.Action("MemoReport", "Memo", new {@style="color:black" })">click here</a></span> to view memos';
            }
            else if (count == 0 && empCount != 0) {
                memoContent = ' Employee ' + empCount + ' pending memos, <span><a style="font-weight:bold;color:red;" href="@Url.Action("EmployeeMemo", "Memo", new {@style="color:black" })">click here</a></span> to view memos';
            }
            else {
                memoContent = 'You have ' + count + ' pending memos, <span><a style="font-weight:bold;color:red;" href="@Url.Action("MemoReport", "Memo", new {@style="color:black" })">click here</a></span> to view memos';
                memoContent += '<br /> Employee ' + empCount + ' pending memos, <span><a style="font-weight:bold;color:red;" href="@Url.Action("EmployeeMemo", "Memo", new {@style="color:black" })">click here</a></span> to view memos';
            }

            $("#memoContent").html(memoContent);

            if (count !== 0 || empCount !== 0) {
                $("#homepopup").modal('show');
            } else {
                $("#homepopup").modal('hide');
            }
        });
    </script>
}
<script>
    document.getElementById("a9").className = "active";
</script>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        margin: auto;
        padding: 0px;
        border: 1px solid rgb(136, 136, 136);
        width: 50%;
        z-index: 99999999999;
        left: 25%;
        background: rgb(219, 238, 247);
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        min-height: 16.42857143px;
        padding: 13px;
        border-bottom: 1px solid rgb(221, 221, 221);
        background: rgba(60, 141, 188, 0.4);
    }

        .modal-header h4 {
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: rgb(255, 255, 255);
        }

    #myTextArea td {
        border: 1px solid #c2c2c2;
        padding: 6px 80px 6px 18px;
        text-align: left;
    }

    .modal-header .close {
        margin-top: -2px;
        color: rgb(0, 0, 0);
        opacity: 4;
        /* background: rgb(0, 0, 0); */
    }
</style>

