@model Entities.BranchStaffCount
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rolepages = TempData["RolePages"].ToString();
    ViewBag.RolePages = TempData["RolePages"];
}

<div class="container">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            @{
                <ul class="nav nav-tabs">
                    @if (rolepages.Contains("MABAN"))
                    {
                        <li><a href=@Url.Action("Create", "Banks")>Bank</a></li>}
                    @if (rolepages.Contains("MABRA"))
                    {
                        <li><a href=@Url.Action("Create","Branches")>Branch</a></li>}

                    @if (rolepages.Contains("MADEP"))
                    {
                        <li><a href=@Url.Action("Create", "Departments")>Department</a></li>}
                    @if (rolepages.Contains("MADES"))
                    {
                        <li><a href=@Url.Action("Create", "Designations")>Designation</a></li>}
                    @if (rolepages.Contains("MAROL"))
                    {
                        <li><a href=@Url.Action("Create", "Roles")>Role</a></li>}
                    @if (rolepages.Contains("MALTY"))
                    {
                        <li><a href=@Url.Action("Create", "LeaveTypes")>LeaveType</a></li>}
                    @if (rolepages.Contains("MAHLI"))
                    {
                        <li><a href=@Url.Action("Create", "HolidayLists")>HolidayList</a></li>}
                    @if (rolepages.Contains("MACDL"))
                    {
                        <li><a href=@Url.Action("CreditDebitleaves", "MyLeaves")>Credit / Debit leaves</a></li>}
                    @if (rolepages.Contains("MABCY"))
                    {
                        <li class="active"><a href=@Url.Action("Createbranchcount", "Branches")>Branch Category</a></li>}
                    @if (rolepages.Contains("MAODY"))
                    {
                        <li><a href=@Url.Action("OtherdutyCreate", "LeaveTypes")>Other Duty</a></li>}
                    @if (rolepages.Contains("MABPD"))
                    {
                        <li><a href=@Url.Action("Create", "BlockPeriod")>BlockPeriod</a></li>}
                    @if (rolepages.Contains("MANES"))
                    {
                        <li><a href=@Url.Action("Create", "News")>News</a></li>}
                </ul>
            }

        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="branch">
                    <div class="page_st">
                        <div class="page">
                            <div class="col-md-12 col-sm-12">
                      
                                   
                                    <div>
                                        @using (Html.BeginForm("Createbranchcount", "Branches", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="col-md-12 col-sm-12 form-horizontal">
                                                <div class="main_heading">
                                                    <h1>Branch Category</h1>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Branch Name:<span class="mandatory">*</span></label>
                                                            <div class="col-sm-7">
                                                                @Html.DropDownListFor(model => model.Branchid, (SelectList)ViewBag.Name, "Select Branch", new { @class = "form-control", @id = "bname", onChange = "brname()", onkeypress = "return onlyAlphabets(event)" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label">Branch Category:<span class="mandatory">*</span></label>
                                                            <div class="col-sm-7">
                                                                @Html.DropDownList("Category", new[] {
                                                           new SelectListItem() {Text = "Silver",Value = "Silver"},
                                                           new SelectListItem() {Text = "Gold",Value = "Gold"},
                                                           new SelectListItem() {Text = "Platinum",Value = "Platinum" },
                                                          }, "Select Category", new { @class = "form-control" })

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Staff Count :<span class="mandatory">*</span></label>
                                                            <div class="col-sm-7">
                                                                @*<input type="text" id="Staffcount" name="Staffcount" class="form-control", onkeypress = "return isNumber(event)" />*@
                                                                @Html.EditorFor(model => model.Staffcount, new { htmlAttributes = new { @class = "form-control", onkeypress = "return isNumber(event)", maxlength = 10 } })
                                                                @Html.ValidationMessageFor(model => model.Staffcount, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label">Amount Range:<span class="mandatory">*</span></label>
                                                            <div class="col-sm-7">
                                                                @Html.EditorFor(model => model.AmountRange, new { htmlAttributes = new { @class = "form-control", @id = "range", onkeypress = "return validatedecimal(this,event);", maxlength = 15 } })
                                                                @Html.ValidationMessageFor(model => model.AmountRange, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="pull-right">
                                                            <input type="reset" value="Cancel" class="btn btn-default" />
                                                            <input type="submit" id="branchCreate" value="Create" onclick="return branchcnt();" class="btn btn-primary" />
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                
                                                </div>
                                            </div>
                                
                                                <div class="main_heading">
                                                    <h1>Branch Category List</h1>
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <div id="grid1"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                         
                                        }
                                    </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
 var message = '@message';

if(message) alert(message);

</script>

<script type="text/javascript">
    function branchcnt() {
        var bname = $("#bname").val();
        var Category = $("#Category").val();
        var Staffcount = $("#Staffcount").val();
        var range = $("#range").val();

        if (bname == "") {
           // alert("Please select Branch Name");
            showGlobalModal("I#Required#Please select Branch Name.");
            return false;
        } else if (Category == "") {
            //alert("Please select Branch Categeory");
            showGlobalModal("I#Required#Please select Branch Categeory.");
            return false;
        } else if (Staffcount == "") {
          //alert("Please enter Staff Count");
            showGlobalModal("I#Required#Please enter Staff Count.");
            return false;
        } else if (range == "") {
            //alert("Please enter Amount Range");
            showGlobalModal("I#Required#Please enter Amount Range.");
            return false;
        }
        else {
            return true;
          
        }
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
        // prepare the data for BankView
        var theme = otherTheme;
        // prepare the data
        var url = "/Branches/branchcountviews";
        var source =
        {
            type: "Get",
            datatype: "json",
            datafields: [
                { name: 'Id', type: 'int' },
                { name: 'Name', type: 'string' },
                { name: 'AmountRange', type: 'decimal' },
                { name: 'Category', type: 'string' },
                { name: 'Staffcount', type: 'int' },

            ],
            async: false,
            url: url,
            data: {
                featureClass: "P",
                style: "full",
                username: "jqwidgets"
            }
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            {
                formatData: function (data) {
                    data.ProductName = $("#searchField").val();
                    return data;
                }
            }
        );
        // initialize jqxGrid
        var editrowindex = -1;
        var delrowindex = -1;
        $("#grid1").jqxGrid(
            {
                width: '99.5%',
                source: dataAdapter,
                theme: otherTheme,// for theme refernce go to Layout.cshtml
                autoheight: true,
                sortable: true,
                pageable: true,
                columnsResize: true,
                altRows: true,
                filterable: true,
                autoshowfiltericon: true,

                ready: function () {
                    $("#grid1").jqxGrid('localizestrings', localizationObject);
                },
                updatefilterconditions: function (type, defaultconditions) {
                    switch (type) {
                        case 'stringfilter':
                            return stringcomparisonoperators;
                        case 'numericfilter':
                            return numericcomparisonoperators;
                        case 'datefilter':
                            return datecomparisonoperators;
                        case 'booleanfilter':
                            return booleancomparisonoperators;
                    }
                },
                updatefilterpanel: function (filtertypedropdown1, filtertypedropdown2, filteroperatordropdown, filterinputfield1, filterinputfield2,
                    filterbutton, clearbutton, columnfilter, filtertype, filterconditions) {
                    var index1 = 0;
                    var index2 = 0;
                    if (columnfilter != null) {
                        var filter1 = columnfilter.getfilterat(0);
                        var filter2 = columnfilter.getfilterat(1);
                        if (filter1) {
                            index1 = filterconditions.indexOf(filter1.comparisonoperator);
                            var value1 = filter1.filtervalue;
                            filterinputfield1.val(value1);
                        }
                        if (filter2) {
                            index2 = filterconditions.indexOf(filter2.comparisonoperator);
                            var value2 = filter2.filtervalue;
                            filterinputfield2.val(value2);
                        }
                    }
                    filtertypedropdown1.jqxDropDownList({ autoDropDownHeight: true, selectedIndex: index1 });
                    filtertypedropdown2.jqxDropDownList({ autoDropDownHeight: true, selectedIndex: index2 });
                },
                columns: [
                    { text: "Branch Name", datafield: "Name", editable: false, width: 250 },
                    { text: "Amount Range", datafield: "AmountRange", editable: false, width: 250 },
                    { text: " Branch Category", datafield: "Category", editable: false, width: 240 },
                    { text: "Staff Count", datafield: "Staffcount", editable: false, width: 210 },

                    {
                        text: 'Edit', datafield: 'Edit', sortable: false, filterable: false, columngroup: 'Actions', columntype: 'button', width: 60, cellsrenderer: function () {
                            return "Edit";

                        }, buttonclick: function (row) {
                            editrowindex = row;
                            var paginginformation = $('#grid1').jqxGrid('getpaginginformation');
                            var id = $("#grid1").jqxGrid('getcellvalue', row, "Id");


                            window.location = '/Branches/Editbranchcount/?id=' + id + '&page=' + paginginformation.pagenum;
                        }
                    },
                    {
                        text: 'Delete', datafield: 'Delete', columngroup: 'Actions', sortable: false, filterable: false, columntype: 'button', name: 'delete', width: 60, cellsrenderer: function () {

                            return "Delete";

                        },
                        buttonclick: function (row) {
                            var res = confirm("Do You Want to Delete");
                            if (res) {
                                delrowindex = row;



                                var id = $("#grid1").jqxGrid('getcellvalue', row, "Id");

                                var paginginformation = $('#grid1').jqxGrid('getpaginginformation');
                                window.location = '/Branches/Deletebranchcount/?id=' + id + '&page=' + paginginformation.pagenum;
                            }
                            else
                                return res;
                        }

                    }
                ],
                columngroups:
                    [
                        { text: 'Action', align: 'center', name: 'Actions', width: 120 },
                    ],
            });
    });

</script>

<script>
    function brname() {
        var x = location.hostname;
        var url = window.location.href
        //  alert(url);
        var arr = url.split("/");
        var textBoxValue = document.getElementById("bname").value;

      //  var result = "https://" + arr[2] + "/" + "Branches/BranchName?Name=" + textBoxValue;

           var result = "" + arr[0] +  "//" + arr[2] +  "/"+ "Branches/BranchName?Name=" + textBoxValue;
        $.ajax({
            type: "GET",
            url: result,

            dataType: "json",
            success: function (data) {

                if (data.message == "use") {

                }
                if (data.message == "used") {

                    document.getElementById("bname").value = "";

                    alert("This Branch already Exist!");
                }

            },
            error: function () {

            }
        });
    }
</script>
<script>
    document.getElementById("a2").className = "active";

</script>
<script>
    function validatedecimal(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot (thanks ddlab)
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the carat position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
</script>