@model Entities.News
@{
    var rolepages = TempData["RolePages"].ToString();
    ViewBag.RolePages = TempData["RolePages"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            @{
                <ul class="nav nav-tabs">
                    @if (rolepages.Contains("MABAN"))
                    {
                        <li><a href="@Url.Action("Create", "Banks")" data-toggle="tab" id="1">Bank</a></li>}
                    @if (rolepages.Contains("MABRA"))
                    {
                        <li><a href=@Url.Action("Create", "Branches")>Branch</a></li>}

                    @if (rolepages.Contains("MADEP"))
                    {
                        <li><a href=@Url.Action("Create", "Departments")>Department</a></li>}
                    @if (rolepages.Contains("MADES"))
                    {
                        <li><a href=@Url.Action("Create", "Designations")>Designation</a></li>}
                    @if (rolepages.Contains("MAROL"))
                    {
                        <li><a href=@Url.Action("Create", "Roles")>Role</a></li>}
                    @if (rolepages.Contains("MALTY"))
                    {
                        <li><a href=@Url.Action("Create", "LeaveTypes")>LeaveType</a></li>}
                    @if (rolepages.Contains("MAHLI"))
                    {
                        <li><a href=@Url.Action("Create", "HolidayLists")>HolidayList</a></li>}
                    @if (rolepages.Contains("MACDL"))
                    {
                        <li><a href=@Url.Action("CreditDebitleaves", "MyLeaves")>Credit / Debit leaves</a></li>}
                    @if (rolepages.Contains("MABCY"))
                    {
                        <li><a href=@Url.Action("Createbranchcount", "Branches")>Branch Category</a></li>}
                    @if (rolepages.Contains("MAODY"))
                    {
                        <li><a href=@Url.Action("OtherdutyCreate", "LeaveTypes")>Other Duty</a></li>}
                    @if (rolepages.Contains("MABPD"))
                    {
                        <li><a href=@Url.Action("Create", "BlockPeriod")>BlockPeriod</a></li>}
                    @if (rolepages.Contains("MANES"))
                    {
                        <li class="active"><a href=@Url.Action("Create", "News")>News</a></li>}
                </ul>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="page_st">
            <div class="page">
                <div class="form-horizontal">
                    <div class="page_start">
                        <div class="col-md-12 col-sm-12">
                            <div class="main_heading">
                                <h1>Edit News </h1>

                                <div class="leave_cont_start">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Subject:</label>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(model => model.Subject, new { @class = "form-control", @id = "subject" })
                                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Content:<span class="mandatory">*</span></label>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "content" })
                                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>                 
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @*<div class="form-group">

                <label class="col-sm-5 control-label">Address Line 2:<span class="mandatory">*</span></label>
                <div class="col-sm-7">
                    @Html.TextAreaFor(model => model.AddressLine2, new { @class = "form-control" })
                </div>
            </div>*@
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @*<div class="form-group">

                <label class="col-sm-4 control-label">City:<span class="mandatory">*</span></label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>*@
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @*<div class="form-group">

                <label class="col-sm-5 control-label">PhoneNo 1:<span class="mandatory">*</span></label>
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.PhoneNo1, new { htmlAttributes = new { @class = "form-control", maxlength = "12", onkeypress = "return isNumber(event)", @id = "lbanksphone1" } })
                </div>
            </div>*@
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @*<div class="form-group">
                @Html.Label("PhoneNo 2:", htmlAttributes: new { @class = "control-label col-sm-5" })
                <div class="col-sm-7">
                    @Html.EditorFor(model => model.PhoneNo2, new { htmlAttributes = new { @class = "form-control", @id = "lbanksphone2", maxlength = "12", onkeypress = "return isNumber(event)" } })
                </div>
            </div>*@
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @*<div class="form-group">
                @Html.Label("PhoneNo 3:", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.PhoneNo3, new { htmlAttributes = new { @class = "form-control", maxlength = "12", onkeypress = "return isNumber(event)", @id = "lbanksphone3" } })
                </div>
            </div>*@
                                    </div>
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <input type="reset" value="Cancel" class="btn btn-default" />
                                            <input type="submit" value="Update" onclick="return newsedit();" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{

    var message = TempData["AlertMessage"] ?? string.Empty;

}
<script type="text/javascript">
    var message = '@message';

    if (message) alert(message);

</script>

<script>
</script>
<script>
    document.getElementById("a2").className = "active";

</script>
@*validation for News Edit*@
<script>
    function newsedit() {
        var content = $("#content").val();
        if (content == "") {
            window.alert("Please Enter Content.");
            $("#content").focus();
            return false;
        }
    }
</script>