@model Entities.Latememo


@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    var rolepages = TempData["RolePages"].ToString();
    ViewBag.RolePages = TempData["RolePages"];
}

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
@*<script type="text/javascript" src="~/Assets/hrms/Register.js"></script>*@
<script type="text/javascript">
    var message = '@message';
    if (message) alert(message);

</script>

<style>
    .closeText:before {
        content: "Close";
    }

    .activeClass {
        background: #ffdb99;
    }

    .secondClass {
        /*background: #FF9999;*/
        color: red;
    }
</style>
<div class="container">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            @{
                        <ul class="nav nav-tabs">


                            @if (rolepages.Contains("LFPMain"))
                            {
                                <li class="active"><a href=@Url.Action("MemoCreate", "Memo")>Issue Memo</a></li>
                                <li><a href=@Url.Action("MemoList", "Memo")>Memos Report</a></li>
                            }
                            @if (rolepages.Contains("LFPMain"))
                            {
                                <li><a href=@Url.Action("MemoReport", "Memo")>My Pending Memos</a></li>
                            }
                            @if (rolepages.Contains("MemoMain"))
                            {
                                <li><a href=@Url.Action("MemoReport", "Memo")>My Pending Memos</a></li>
                            }
                            @if (rolepages.Contains("MemoSuper"))
                            {
                                <li><a href=@Url.Action("Employeememoreport", "Memo")>My Memos History</a></li>
                            }
                            @if (rolepages.Contains("MemoSuper"))
                            {
                                <li><a href=@Url.Action("EmployeeMemo", "Memo")>Employee Memos</a></li>
                            }

                        </ul>
            }
        </div>
        @using (Html.BeginForm())
        {
            <div class="container">
                <div class="page_st">
                    <div class="page">
                        <div class="form-horizontal form-horizontal2">
                            <div class="page_start">
                                @{
                                    <div class="col-md-12 col-sm-12">
                                        <div class="main_heading">
                                            <h1>Memo Edit Form</h1>
                                            <div class="form-horizontal col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-12 col-sm-12">
                                                                                    <div class="main_heading">
                                                                                        @*<h1>Issue Memo</h1>
        <br />*@
                                                                                        @*@Html.HiddenFor(model => model.Empid)*@
                                                                                        <br /><br />
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">EmpCode:<span class="mandatory">*</span></label>
                                                                                                <div class="col-sm-6">
                                                                                                    <input type="text" id="empcode" name="Empid" class="form-control" value="@ViewBag.empcode" readonly="readonly" />
                                                                                                    @*<input type="text" id="empcode" name="UserId" class="form-control" onkeypress="return isNumber(event)" />*@
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="clearfix"></div>



                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Name:</label>
                                                                                                <div class="col-sm-8">
                                                                                                    <input type="text" id="shortname" value="@ViewBag.shortname" readonly="readonly" class="form-control" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Designation:</label>
                                                                                                <div class="col-sm-8">
                                                                                                    <input type="text" id="desigid" value="@ViewBag.designation" readonly="readonly" class="form-control" />

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Br/Dept:</label>
                                                                                                <div class="col-sm-8">
                                                                                                    <input type="text" id="branchid" value="@ViewBag.branch" readonly="readonly" class="form-control" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Sanctioning Authority:</label>
                                                                                                <div class="col-sm-8">
                                                                                                    <input type="text" id="SanctioningAuthority" value="@ViewBag.SA" readonly="readonly" class="form-control" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        

                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">No of Days :<span class="mandatory">*</span></label>
                                                                                                <div class="col-sm-8">
                                                                                                    @Html.TextBoxFor(model => model.Noofdays, new { @class = "form-control", @id = "Noofdays", @onkeypress = "return isNumber(event)" })
                                                                                                    @Html.ValidationMessageFor(model => model.Noofdays, "", new { @class = "text-danger" })

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>


                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Leave Applied Date:</label>

                                                                                                <div class="input-group date col-sm-8" id="datetimepicker2">

                                                                                                    @Html.TextBoxFor(model => model.Leaveapplieddate, new { @class = "form-control", @id = "leaveapplieddate", @onkeypress = "return nokeyword(event)", @onchange = "return datealert();" })

                                                                                                    @*<input type="text" id="cDuedate" class="form-control" onkeypress="return nokeyword(event)" , onchange="return dateevent();">*@
                                                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Leave Type:</label>
                                                                                                <div class="col-sm-8">
                                                                                                    <select name="LeaveType" class="form-control" id="leavetype">
                                                                                                        <option value="Select">Select</option>
                                                                                                        <option value="Casual Leave">Casual Leave</option>
                                                                                                        <option value="Compensatory Leave">Compensatory Leave</option>
                                                                                                        <option value="Compensatory Week Off">Compensatory Week Off</option>
                                                                                                        <option value="ExtraOrdinary Leave">ExtraOrdinary Leave</option>
                                                                                                        <option value="Privilage Leave">Privilage Leave</option>
                                                                                                        <option value="Special Casual Leave">Special Casual Leave</option>
                                                                                                        <option value="Special Medical Leave">Special Medical Leave</option>
                                                                                                        <option value="Maternity Leave">Maternity Leave</option>
                                                                                                        <option value="Loss Of Pay">Loss Of Pay</option>
                                                                                                        <option value="Medical/Sick Leave">Medical/Sick Leave</option>
                                                                                                        <option value="Paternity Leave">Paternity Leave</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                                @*@Html.HiddenFor(model=>model.MemoType, new { @Id="memotype"})*@
                                                                                                @*@Html.DropDownListFor(model => model.register.state_name, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control", Id = "ddlstates" })*@

                                                                                                @*@Html.DropDownList(Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control", @id = "cars" })*@
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label p0">Prior Notice Given Days:</label>
                                                                                                <div class="col-sm-8">
                                                                                                    @Html.TextBoxFor(model => model.Priornoticegivendays, new { @class = "form-control", @id = "Priornoticegivendays", @onkeypress = "return isNumber(event)" })
                                                                                                    @Html.ValidationMessageFor(model => model.Priornoticegivendays, "", new { @class = "text-danger" })

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Explanation Due Date:<span class="mandatory">*</span></label>

                                                                                                <div class="input-group date col-sm-8" id="datetimepicker2">

                                                                                                    @Html.TextBoxFor(model => model.Duedate, new { @class = "form-control", @id = "cDuedate", @onkeypress = "return nokeyword(event)", @onchange = "return datealert();" })

                                                                                                    @*<input type="text" id="cDuedate" class="form-control" onkeypress="return nokeyword(event)" , onchange="return dateevent();">*@
                                                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Reason For Leave :</label>
                                                                                                <div class="col-sm-8">
                                                                                                    @Html.TextAreaFor(model => model.ReasonForLeave, new { @class = "form-control", @id = "ReasonForLeave", @maxlength = 2000, rows = "5" })
                                                                                                    @Html.ValidationMessageFor(model => model.ReasonForLeave, "", new { @class = "text-danger" })
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Memo Type:<span class="mandatory">*</span></label>
                                                                                                <div class="col-sm-8">
                                                                                                    <select name="MemoType" class="form-control" id="cars">
                                                                                                        @*<input type="text" id="memotype" value="@ViewBag.memotype" readonly="readonly" class="form-control" />*@
                                                                                                        <option value="Select">Select</option>
                                                                                                        <option value="Late memo">Late memo</option>
                                                                                                        <option value="Absent memo">Absent memo</option>
                                                                                                        <option value="Late Applied Leave">Late Applied Leave</option>
                                                                                                        <option value="Non submission of medical certificate">Non submission of medical certificate</option>
                                                                                                        <option value="Non updation of work dairy">Non updation of work dairy</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                                @*@Html.HiddenFor(model=>model.MemoType, new { @Id="memotype"})*@
                                                                                                @*@Html.DropDownListFor(model => model.register.state_name, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control", Id = "ddlstates" })*@

                                                                                                @*@Html.DropDownList(Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control", @id = "cars" })*@
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                                            <div class="form-group">
                                                                                                <label class="col-sm-4 control-label">Memo Details :<span class="mandatory">*</span></label>
                                                                                                <div class="col-sm-8">
                                                                                                    @Html.TextAreaFor(model => model.Memodetails, new { @class = "form-control", @id = "Memodetails", @maxlength = 2000, rows = "5" })
                                                                                                    @Html.ValidationMessageFor(model => model.Memodetails, "", new { @class = "text-danger" })
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>


                                                                                        <div class="col-md-12">
                                                                                            <div class="pull-right">
                                                                                                @*<button type="button" onclick="resetForm()" value="reset" class="btn btn-default">Cancel</button>*@
                                                                                                <button type="button" id="btsubmit" class="btn btn-default">Submit</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<script>
    $("#btsubmit").click(function () {
        memoupdate();
    });
    function memoupdate() {
      
        var id =@ViewBag.id;
        var empid =@ViewBag.empcode;
        var noofdays = $("#Noofdays").val(); 
        var priornoticegivendays = $("#Priornoticegivendays").val();
        var duedate = $("#cDuedate").val();
        var memodetails = $("#Memodetails").val();
        var ReasonForLeave = $("#ReasonForLeave").val();
        var memotype = $("#cars").val();
        var leavetype = $("#leavetype").val();
        var leaveapplieddate = $("#leaveapplieddate").val();
        if (memotype == "" || memotype == "Select") {
            alert("Please select Memotype");
            return false;
        }
        //else if (leavetype == "" || leavetype == "Select") {
        //    alert("Please select Leavetype");
        //    return false;
        //}
       
        else
            $.ajax({
                type: "Post",
                url: "/Memo/Edit?id=" + id + "&memotype=" + memotype + "&noofdays=" + noofdays + "&duedate=" + duedate + "&memodetails=" + memodetails + "&ReasonForLeave=" + ReasonForLeave + "&priornoticegivendays=" + priornoticegivendays + "&leavetype=" + leavetype +  "&leaveapplieddate=" + leaveapplieddate ,
                dataType: "Json",
                success: function (response) {
                    if (response != null) {
                        alert(" Memo Updated Successfully");
                        window.location = "/Memo/MemoList";

                    }
                    else {
                        // alert("Something went wrong");
                    }
                },
            });

    }
</script>